@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;     
  padding: 0;    
  height: 100%;  
  width: 100%;   
  overflow: hidden; /* so the scrollbar doesn't appear */
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;

  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
  
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
  
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
  
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
  
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
  
    --border:220 13% 91%;
    --input:220 13% 91%;
    --ring:224 71.4% 4.1%;
    --radius: 0.5rem;
  }
   
  .dark {
    --background: 138 100% 7%;
    --foreground: 60 30% 90%;
  
    --card: 138 85% 20%;
    --card-foreground: 60 30% 90%;
  
    --popover: 138 80% 18%;
    --popover-foreground: 60 30% 90%;
  
    --primary: 138 30% 40%;
    --primary-foreground: 60 30% 90%;
  
    --secondary: 138 45% 25%;
    --secondary-foreground: 60 30% 90%;
  
    --muted: 138 25% 15%;
    --muted-foreground: 60 30% 90%;
  
    --accent: 278 30% 60%;
    --accent-foreground: 60 30% 90%;
  
    --destructive: 0 30% 40%;
    --destructive-foreground: 60 30% 90%;
  
    --border: 138 45% 25%;
    --input: 138 45% 25%;
    --ring: 138 50% 30%;
  }
  
}
