[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
email-validator = "*"
python-dotenv = "*"
werkzeug = "*"
scrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
